body {
    background-color: #FFFFFF;
}

.que-Unhandled {
    margin-top: 1rem;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;
}

.que-Unhandled th, .que-Unhandled td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-size: 1.5rem;
}

h2 {
    margin: 1rem 0%;
    text-align: center;
}

.que-handled {
    margin-top: 1rem;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;
}


.que-handled th, .que-handled td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-size: 1.5rem;
}


.but {
    background-color: lightskyblue;
    border: 3px solid;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    margin: 4px 2px;
    cursor: pointer;
}
